body, #mainWrapper {
    height: 70%;
    background-color:rgb(245, 245, 245);
}

body, .form-control{
    font-size:12px!important;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}

.formcontainer{
    background-color: #DAE8E8;
    padding: 20px;
}

.tablecontainer{
    padding-left: 20px;
}

.generic-container {
    width:80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.custom-button-width {
	width:150px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.left-spacer {
    margin-left: 10px;
}

.downloadable tr {
    cursor: pointer;
}

label.fileLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.fileLabel {
}
